<style>
    :root {
        --my-light-gray: #868e96;
    }

    .breadcrumb-item {
        --bs-breadcrumb-divider-color: var(--my-light-gray);
    }
</style>
<nav aria-label="breadcrumb" class="w-100 pt-2 p-3 fs-5">
    <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        {% if loop.last %}
        <li class="breadcrumb-item active text-secondary" aria-current="page">{{ breadcrumb.text }}</li>
        {% else %}
        <li class="breadcrumb-item"><a class="link-secondary link-offset-2 link-opacity-75 link-underline-opacity-75 link-underline-opacity-100-hover" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endif %}
        {% endfor %}
    </ol>
</nav>